html, body {
  padding: 0;
  margin: 0;
}

body[data-is_screensaver="true"] {
  overflow: hidden;
  .MeshNode ._Role {
    display: none;
  }
}

.SimMesh__ {
  padding: 0 1rem;
  margin: 0 auto;
  width: 832px;
  &[data-is_screensaver="true"] {
    margin: 0;
    padding: 0;
    transform-origin: top left;
  }
  ._Header__ {

  }
  ._Canvas__ {
    position: relative;
    width: 800px;
    height: 800px;
  }
}

#scenario_list {
  list-style-type: none;
  padding: 0;

}

footer {
  font-size: 12px;
}

.Header {
  font-size: 16px;
}

.MeshNode {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: 1px solid black;
  background-color: turquoise;
  &[data-role="ROUTER"] {
    background-color: orange;
  }
  &[data-role="ROUTER_LATE"] {
    background-color: brown;
  }
  &[data-role="CLIENT_MUTE"] {
    background-color: darkcyan;
  }
  text-align: center;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  ._Role {
    position: absolute;
    right: 80%;
    top: -10px;
    font-size: 0.5em;
    z-index: 1;
    color: #666;
  }
  ._ShortName {
    position: relative;
    top: 0.2em;
  }
  ._PacketQueue {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: calc(100% + 5px);
    top: 0;
    pointer-events: none;
    z-index: 2;
    li {
      padding: 0;
      margin: 0;
    }
  }
  ._TransmittingCircle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    left: calc(-250px + 50%);
    top: calc(-250px + 50%);
    /* border: 1px solid hotpink; */
    opacity: 0.25;
    background: radial-gradient(rgb(255, 0, 217, 0.7), rgb(255, 0, 230, 0.5), rgba(255, 0, 174, 0.1),rgba(255, 0, 174, 0.1), rgba(255, 0, 174, 0.0))
  }
}

.Packet {
  font-size: 10px;
  position: relative;
  border: 1px solid black;
  display: flex;
  padding-left: 2px;
  background-color: rgba(255,255,255,0.9);
  &[data-is_highlighted="true"] {
    background-color: rgba(250, 204, 254, 0.9);
  }
  ._Status {
    width: 30px;
    margin-left: 5px;
    position: relative;
    pointer-events: all;
    cursor: default;
  }
  ._Countdown {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    background-color: rgb(103, 234, 148);
  }
}

table div {
  width: 1em;
}

.EmptyStatus {
  width: 1em;
  height: 1em;
  border: 1px dotted black;
}

.PacketEdge {
  height: 2px;
  background-color: black;
  position: absolute;
}

.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
